@font-face {
  font-family: "lgsmart";
  font-weight: 300;
  font-style: normal;
  src: url("../../fonts/LGSMHATL.TTF") format("truetype");
  src: url("../../fonts/LGSMHATL.woff") format("woff");
}
@font-face {
  font-family: "lgsmart";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/LGSMHATR.TTF") format("truetype");
  src: url("../../fonts/LGSMHATR.woff") format("woff");
}
@font-face {
  font-family: "lgsmart";
  font-weight: 500;
  font-style: normal;
  src: url("../../fonts/LGSMHATSB.TTF") format("truetype");
  src: url("../../fonts/LGSMHATSB.woff") format("woff");
}
@font-face {
  font-family: "lgsmart";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/LGSMHATB.TTF") format("truetype");
  src: url("../../fonts/LGSMHATB.woff") format("woff");
}
.header-left-info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-left-info .btn {
  margin: 0 0.9375rem;
}

.table table tr td, .table table tr th {
  vertical-align: middle;
}
.table table tr td .custom-control.custom-checkbox, .table table tr th .custom-control.custom-checkbox {
  margin-left: 0.5625rem;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}
.table table tr th {
  font-size: 0.9375rem;
  font-weight: 700;
}
.table table tr td {
  font-size: 0.875rem;
  font-weight: 400;
}
.table.fixed-table table {
  table-layout: fixed;
  width: 100%;
}

.text-left {
  text-align: left !important;
}

.table-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1.25rem;
}
.table-footer .prefix,
.table-footer .suffix,
.table-footer .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.table-footer .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.table-footer .center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.table-footer .prefix .btn + .btn {
  margin-left: 0.3125rem;
}
.table-footer .center ul {
  margin-bottom: 0;
}
.table-footer .suffix ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}
.table-footer .suffix ul li {
  position: relative;
  padding-right: 0.625rem;
}
.table-footer .suffix ul li:after {
  content: "";
  width: 0.0625rem;
  height: 0.9375rem;
  background-color: #333;
  position: absolute;
  right: 0.0625rem;
  top: 0;
}
.table-footer .suffix ul li:last-child {
  padding-right: 0;
  padding-left: 0.3125rem;
}
.table-footer .suffix ul li:last-child:after {
  display: none;
}
.table-footer.write-form-type {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0.625rem;
}
.table-footer.write-form-type .btn + .btn {
  margin-left: 0.3125rem;
}
.table-footer.none-side-pad {
  padding: 0;
}

.table > :not(caption) > * > * {
  border-color: #e6ebf1;
}

.fc-red {
  color: #EF4B49 !important;
  font-weight: bold;
}

table tr td {
  cursor: pointer;
}

.modal-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}
.modal-search .btn {
  line-height: 2.375rem;
  height: 2.375rem;
  padding-top: 0;
  margin-left: 0.625rem;
}

.modal-body .table table tr td, .modal-body .table table tr th {
  vertical-align: middle;
}
.modal-body .table table tr td label, .modal-body .table table tr th label {
  margin: 0;
}
.modal-body .table table tr td label .custom-control-label, .modal-body .table table tr th label .custom-control-label {
  margin: 0;
}
.modal-body .table table tr td label .custom-control-label:after, .modal-body .table table tr td label .custom-control-label:before, .modal-body .table table tr th label .custom-control-label:after, .modal-body .table table tr th label .custom-control-label:before {
  left: 0.8125rem;
}

.modal.alert-type .modal-footer .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}
.modal.alert-type .modal-footer .btn + .btn {
  margin-left: 0.625rem;
}

.keyword-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.keyword-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.keyword-list li input {
  width: 12.5rem;
  margin-left: 0.625rem;
}
.keyword-list.none-auto-type li {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  margin-right: 0.9375rem;
}

.col-input-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.col-input-list label + label {
  margin-left: 1.25rem;
}

.custom-control-label {
  margin-top: 0;
}

.none-flex-auto {
  -webkit-box-flex: 0 !important;
      -ms-flex: none !important;
          flex: none !important;
}

.custom-section {
  width: 100%;
  min-width: 96.875rem;
}
.custom-section .wrapper {
  width: 100%;
  max-width: 96.875rem;
  margin: auto;
}

* {
  font-family: "lgsmart";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "lgsmart";
}

.logo-card-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.logo-card-list ul li {
  width: 17.0625rem;
  margin-right: 2.4375rem;
}
.logo-card-list ul li:nth-child(5n) {
  margin-right: 0;
}
.logo-card-list ul li .logo-img-banner {
  position: relative;
}
.logo-card-list ul li .logo-img-banner img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
}
.logo-card-list ul li .title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5rem;
  padding-top: 0.625rem;
  border-top: 0.0625rem solid #3ec2cf;
}
.logo-card-list ul li .title-wrap .prefix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.logo-card-list ul li .title-wrap .prefix h3 {
  color: #333;
  font-size: 1rem;
  margin: 0;
  max-width: 11.5625rem;
}
.logo-card-list ul li .title-wrap .suffix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.3125rem;
}
.logo-card-list ul li .date {
  padding: 0 1.5rem;
  color: #bfbec2;
}

.h-68 {
  height: 4.25rem !important;
}

body {
  overflow: auto !important;
}

.app-content {
  overflow: auto !important;
}

.lh-24 {
  line-height: 1.5rem;
}

.breadcrumb1 li {
  font-size: 0.875rem;
}

.menu-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}
.menu-control .prefix,
.menu-control .suffix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu-control .prefix {
  width: 18.125rem;
  margin-right: 2.5rem;
}
.menu-control .prefix .card .card-body {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
.menu-control .prefix .side-menu {
  margin-top: 1.25rem;
  padding-bottom: 0;
}
.menu-control .suffix {
  width: 76.25rem;
}