.login-page{
    &.ls-login{
        .register-1{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.header{
    &.ls-header{
        .main-header-end{
            .nav-link{
                &.icon{
                    border-right:0 !important;
                    .header-icon{
                        width:48px;
                        height:48px;
                    }
                }
            }
        }
        .profile-dropdown{
            border-right:0 !important;
        }
    }
}
.page-main{
    .btn-list{
        text-align:right;
    }
}
.manage-set{
    dl{
        display:flex;
        align-items: center;
        margin-bottom:0;
        dt{
            width:10%;
            text-align:left;
        }
        dd{
            width:90%;
            display:flex;
            p{
                display:flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-bottom:0;
                + p{
                    margin-left:15px;
                }
            }
        }
    }
}

.app-content {
    min-height: calc(100vh - 112px);
    &.privacy_info{
        .card-body{
           + .card-body{
            border-top:0 !important;
           }
            table{
                width:100%;
                input[type="text"],
                select{
                    width:30%;
                }
                tr{
                    &:last-child{
                        border-bottom:0;
                    }
                }
            }
        }
    }
}
.page-main{
    .privacy_info{
        .card-body{
            .btn-list{
                text-align:left;
                margin-top:10px;
            }
        }
    }
    .btn-list{
        text-align:center;
        margin:10px 0 20px 0;
    }
    .flex-wrap{
        display:flex;
        .btn-list{
            margin:0 !important; 
            .btn{
                margin:0 0 0 10px;
                height:100%;
                display:flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
/*font*/
.B-tit{
    font-weight:bold;
    color:#333;
    span{
        padding-left:5px;
        font-size:14px;
        color:#666;
    }
}
.info{
    color:#0070c0;
    font-weight:bold;
}
.star{
    color:red;
    font-weight:bold;
    font-size:16px;
}
.font{
    font-weight: bold;
    margin:10px 0 0 0;
    &.color-red{
        color:red;
    }
    &.color-blue{
        color:blue;
    }
}
.d-sm-flex{
    &.ls-login{
        justify-content: space-between;
    }
}
/*modal*/
.ls-modal{
    max-width:1024px;
    margin:1.2rem auto 1.5rem auto;
    .txt{
        text-align:left;
        margin-bottom:10px;
    }
    .fixed-table{
        margin:1rem 0 0 0;
        &:last-child{
            margin-top:3rem;
        }
    }
    h4{
        font-weight:bold;
        text-align:left;
        margin:1.2rem 0 0 0;
        font-size:18px;
    }
    table{
        width:100%;
       p{
        margin:8px 0 0 0 !important;
        text-align:left;
       }
       input{
        max-width:40%;
       }
       tr:last-child{
        border-bottom:0 !important;
       }
       th,td{
        padding:0.65rem;
       }
    }
    h5{
        text-align:left;
    }
    .modal-footer{
        .btn{
            margin: 0 auto;
        }
    }
    .auth-select{
        position:relative;
        width:40%;
        .select2{
            cursor: pointer;
        }
        &:after{
            position:absolute;
            top:50%;
            right:10px;
            content:'';
            transform: translateY(-50%) rotate(0);
            border-color: #728096 transparent transparent transparent;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            height: 0;
        }
        &.in:after{
            transform: translateY(-45%) rotate(180deg);
        }
    }
    .manage-set{
        dl{
            dt{
                width:15%;
            }
            dd{
                width:85%;
                p{
                    margin-top:0 !important;
                    + p{
                        margin-left:15px !important;
                    }
                }
            }
        }
    }
}
/*file upload*/
.ls-upload{
    .ff_fileupload_dropzone{
        max-width:320px !important;
        border:0 !important;
        height:40px !important;
        background-image:none !important;
        // background-color:#333 !important;
        color:#fff;

    }
    .ff_fileupload_uploads{
        max-width:38%;
    }
    .ff_fileupload_start_upload{
        display: none !important;
    }
    .ff_fileupload_remove_file{
        position:relative;
        &:before{
            content:'';
            width:2px;
            height:20px;
            background:#333;
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%) rotate(45deg);
        }
        &:after{
            content:'';
            width:20px;
            height:2px;
            background:#333;
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%) rotate(45deg);
        }
    }
}
.gray-box{
    padding:20px;
    background:#eee;
    border-radius:10px;
    margin-top:10px;
}
.popup-set{
    .flex{
        display:flex;
        align-items: center;
        .form-control{
            width:250px !important;
            margin:0 20px;
        }
    }
    .manage-set{
        dl{
            dt{
                width:20%;
            }
        }
    }
    .date{
        .form-control{
            width:250px !important;
            margin-right:10px !important;
        }
    }
}
.information{
    &.d-flex{
        flex-direction: column;
        position:relative;
    }
    .txt-info{
        position:absolute;
        top:30%;
        left:50%;
        transform:translate(-50%,-30%);
        width:1024px;
        background:#fff;
        padding:20px;
        border: 1px solid #ccc;
        text-align:center;
        h3{
            margin-top:40px;
        }
        .txt-box{
            width:500px;
            margin:50px auto;
            p{
                margin:0;
                text-align:left;
                font-size:20px;
                .permission{
                    color:var(--primary-bg-color);
                    font-weight:bold;
                }
                .refuse{
                    color:red;
                    font-weight:bold;
                }
            }
        }
        .confirm{
            font-size:16px;
            text-align:left;
            max-width:700px;
            margin:0 auto;
        }
    }
}
.board-document{
    justify-content: space-between;
    margin-top:20px;
    &.up{
        margin-bottom:10px;
        .info-title{
            height:32px !important;
            margin-left:10px;
        }
    }
    .btn-list{
        margin:0;
        margin-top:0 !important;
    }
    select{
        width:100px;
    }
}
.center{
    display: flex;
    align-items: center;
    margin-bottom: 0;
    justify-content: center;
    .count{
        padding-left: 10px;
    }
}
.board{
    .table-responsive{
        .table-inbox{
            border-right:0;
            border-left:0;
            tr{
                th{
                    text-align:center;
                    background:#ddd;
                }
            }
        }
    }
    .count{
        color:red;
        font-weight:bold;
    }
    .authority{
        text-align:center;
        font-weight:bold;
        .red{
            color:red;
        }
        .gray{
            color:#ddd;
        }
        .blue{
            color:#0070c0;
        }
        .normal{
            color:#333;
    
        }
    }
    .text-area{
        display:block;
        width: 100%;
        height:100%;
    }
}
.sweet-alert{
    width: 538px !important;
    h2{
        font-size:22px !important;
    }
}
.btn-pass{
    width:200px;
    margin-top:10px;
}
.pass-popup{
    .form-control{
        + .form-control{
            margin-top:10px;
        }
    }
    p{
        text-align:left;
        padding-left:10px;
        &:not(:nth-of-type(1)){
            margin:0;
        }
    }
}
.modal-footer{
    .pass{
        justify-content: center;
    }
}