/*!
 * SmartWizard v4.3.x
 * jQuery Wizard Plugin
 * http://www.techlaboratory.net/smartwizard
 *
 * Created by Dipu Raj
 * http://dipuraj.me
 *
 * Licensed under the terms of MIT License
 * https://github.com/techlab/SmartWizard/blob/master/LICENSE
 */
/* SmartWizard Basic CSS */
/* SmartWizard Theme: White */
/* Responsive CSS */
/* Common Loader */
/* Safari */

.sw-main {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    border-radius: .25rem !important;

    .sw-container {
        display: block;
        margin: 0;
        padding: 0;
        position: relative;
    }

    .step-content {
        display: none;
        position: relative;
        margin: 0;
    }

    .sw-toolbar {
        margin-left: 0;
    }
}

.sw-theme-default {
    border: 1px solid #ebecf1;

    .sw-container {
        min-height: 250px;
    }

    .step-content {
        padding: 15px;
        border: 0px solid #ebecf1;
        background-color: #FFF;
        text-align: left;
    }

    .sw-toolbar {
        background: #fff;
        border-radius: 0 !important;
        padding-left: 10px;
        padding-right: 10px;
        padding: 10px;
        margin-bottom: 0 !important;
    }

    .sw-toolbar-top {
        border-bottom-color: #ebecf1 !important;
    }

    .sw-toolbar-bottom {
        border-top-color: #ebecf1 !important;
    }

    >ul.step-anchor {
        >li {
            position: relative;
            margin-right: 2px;

            >a {
                border: none !important;
                color: #5c6287 !important;
                text-decoration: none;
                outline-style: none;
                background: transparent !important;
                border: none !important;
                cursor: not-allowed;
                border-radius: 0 !important;

                &:hover {
                    border: none !important;
                    color: #5c6287 !important;
                    text-decoration: none;
                    outline-style: none;
                    background: transparent !important;
                    border: none !important;
                    cursor: not-allowed;
                    border-radius: 0 !important;
                }

                &::after {
                    content: "";
                    background: #2d66f7;
                    height: 2px;
                    position: absolute;
                    width: 100%;
                    left: 0px;
                    bottom: 0px;
                    -webkit-transition: all 250ms ease 0s;
                    transition: all 250ms ease 0s;
                    -webkit-transform: scale(0);
                    -ms-transform: scale(0);
                    transform: scale(0);
                }
            }
        }

        >li.clickable {
            >a {
                &:hover {
                    color: #2d66f7 !important;
                    background: transparent !important;
                    cursor: pointer;
                }
            }
        }

        >li.active {
            >a {
                border: none !important;
                color: #fff !important;
                background: #2d66f7 !important;
                cursor: pointer;

                &::after {
                    -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1);
                }
            }
        }

        >li.done {
            >a {
                border: none !important;
                color: #5c6287 !important;
                background: transparent !important;
                cursor: pointer;

                &::after {
                    background: #2d66f7;
                    -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1);
                }
            }
        }

        >li.danger {
            >a {
                border: none !important;
                color: #d9534f !important;
                cursor: pointer;

                &::after {
                    background: #d9534f;
                    border-start-color: #f8d7da;
                    -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1);
                }
            }
        }

        >li.disabled {
            >a {
                color: #eee !important;
                cursor: not-allowed;

                &:hover {
                    color: #eee !important;
                    cursor: not-allowed;
                }
            }
        }
    }
}

.sw-btn-next {
    margin-right: 10px;
}

.sw-loading {
    &::after {
        position: absolute;
        display: block;
        opacity: 1;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, .7);
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        z-index: 2;
    }

    &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;
        border: 10px solid #f3f3f3;
        border-radius: 50%;
        border-top: 10px solid #3498db;
        width: 80px;
        height: 80px;
        margin-top: -40px;
        margin-left: -40px;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
    }
}

@media screen and (max-width: 768px) {
    .sw-theme-default {
        >.nav-tabs {
            >li {
                float: none !important;
            }
        }
    }
}