.daterangepicker {
	position: absolute;
	color: inherit;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #ddd;
	width: 278px;
	max-width: none;
	padding: 0;
	top: 100px;
	left: 20px;
	z-index: 3001;
	display: none;
	font-family: arial;
	font-size: 15px;
	line-height: 1em;

	&:after {
		position: absolute;
		display: inline-block;
		content: '';
		top: -6px;
		border-right: 6px solid transparent;
		border-bottom: 6px solid #fff;
		border-left: 6px solid transparent;
	}

	&:before {
		position: absolute;
		display: inline-block;
		content: '';
		top: -7px;
		border-right: 7px solid transparent;
		border-left: 7px solid transparent;
		border-bottom: 7px solid #ccc;
	}

	.calendar {
		display: block;
		max-width: 270px;
	}

	.calendar.left {
		padding: 8px 0 8px 8px;
	}

	.calendar.right {
		padding: 8px;
	}

	.calendar.single {
		.calendar-table {
			border: none;
		}
	}

	.calendar-table {
		.next {
			span {
				color: #fff;
				border: solid #000;
				border-width: 0 2px 2px 0;
				border-radius: 0;
				display: inline-block;
				padding: 3px;
				transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
			}
		}

		.prev {
			span {
				color: #fff;
				border: solid #000;
				border-width: 0 2px 2px 0;
				border-radius: 0;
				display: inline-block;
				padding: 3px;
				transform: rotate(135deg);
				-webkit-transform: rotate(135deg);
			}
		}

		td {
			text-align: center;
			vertical-align: middle;
			min-width: 32px;
			width: 32px;
			height: 24px;
			line-height: 24px;
			font-size: 12px;
			border-radius: 4px;
			border: 1px solid transparent;
			white-space: nowrap;
			cursor: pointer;
		}

		th {
			text-align: center;
			vertical-align: middle;
			min-width: 32px;
			width: 32px;
			height: 24px;
			line-height: 24px;
			font-size: 12px;
			border-radius: 4px;
			border: 1px solid transparent;
			white-space: nowrap;
			cursor: pointer;
		}

		border: 1px solid #fff;
		border-radius: 4px;
		background-color: #fff;

		table {
			width: 100%;
			margin: 0;
			border-spacing: 0;
			border-collapse: collapse;
		}
	}

	td.available {
		&:hover {
			background-color: #d6dbea;
			border-color: transparent;
			color: inherit;
		}
	}

	th.available {
		&:hover {
			background-color: #d6dbea;
			border-color: transparent;
			color: inherit;
		}
	}

	td.week {
		font-size: 80%;
		color: #ccc;
	}

	th.week {
		font-size: 80%;
		color: #ccc;
	}

	td.off {
		background-color: #fff;
		border-color: transparent;
		color: #999;
	}

	td.off.end-date {
		background-color: #fff;
		border-color: transparent;
		color: #999;
	}

	td.off.in-range {
		background-color: #fff;
		border-color: transparent;
		color: #999;
	}

	td.off.start-date {
		background-color: #fff;
		border-color: transparent;
		color: #999;
	}

	td.in-range {
		background-color: #e2e2e9;
		border-color: transparent;
		color: #000;
		border-radius: 0;
	}

	td.start-date {
		border-radius: 4px 0 0 4px;
	}

	td.end-date {
		border-radius: 0 4px 4px 0;
	}

	td.start-date.end-date {
		border-radius: 4px;
	}

	th.month {
		width: auto;
	}

	option.disabled {
		color: #999;
		cursor: not-allowed;
		text-decoration: line-through;
	}

	td.disabled {
		color: #999;
		cursor: not-allowed;
		text-decoration: line-through;
	}

	select.monthselect {
		font-size: 12px;
		padding: 1px;
		height: auto;
		margin: 0;
		cursor: default;
		margin-right: 2%;
		width: 56%;
	}

	select.yearselect {
		font-size: 12px;
		padding: 1px;
		height: auto;
		margin: 0;
		cursor: default;
		width: 40%;
	}

	select.ampmselect {
		width: 50px;
		margin: 0 auto;
		background: #eee;
		border: 1px solid #eee;
		padding: 2px;
		outline: 0;
		font-size: 12px;
	}

	select.hourselect {
		width: 50px;
		margin: 0 auto;
		background: #eee;
		border: 1px solid #eee;
		padding: 2px;
		outline: 0;
		font-size: 12px;
	}

	select.minuteselect {
		width: 50px;
		margin: 0 auto;
		background: #eee;
		border: 1px solid #eee;
		padding: 2px;
		outline: 0;
		font-size: 12px;
	}

	select.secondselect {
		width: 50px;
		margin: 0 auto;
		background: #eee;
		border: 1px solid #eee;
		padding: 2px;
		outline: 0;
		font-size: 12px;
	}

	.calendar-time {
		text-align: center;
		margin: 4px auto 0;
		line-height: 30px;
		position: relative;

		select.disabled {
			color: #ccc;
			cursor: not-allowed;
		}
	}

	.drp-buttons {
		clear: both;
		text-align: right;
		padding: 8px;
		border-top: 1px solid #ddd;
		display: none;
		line-height: 12px;
		vertical-align: middle;

		.btn {
			margin-left: 8px;
			font-size: 12px;
			font-weight: 700;
			padding: 4px 8px;
		}
	}

	.drp-selected {
		display: inline-block;
		font-size: 12px;
		padding-right: 8px;
	}

	.ranges {
		float: none;
		text-align: left;
		margin: 0;

		ul {
			list-style: none;
			margin: 0 auto;
			padding: 0;
			width: 100%;
		}

		li {
			font-size: 12px;
			padding: 8px 12px;
			cursor: pointer;

			&:hover {
				background-color: #eee;
			}
		}
	}
}

.daterangepicker.opensleft {
	&:before {
		right: 9px;
	}

	&:after {
		right: 10px;
	}
}

.daterangepicker.openscenter {
	&:after {
		left: 0;
		right: 0;
		width: 0;
		margin-left: auto;
		margin-right: auto;
	}

	&:before {
		left: 0;
		right: 0;
		width: 0;
		margin-left: auto;
		margin-right: auto;
	}
}

.daterangepicker.opensright {
	&:before {
		right: 9px;
	}

	&:after {
		right: 10px;
	}
}

.daterangepicker.drop-up {
	margin-top: -7px;

	&:before {
		top: initial;
		bottom: -7px;
		border-bottom: initial;
		border-top: 7px solid #ccc;
	}

	&:after {
		top: initial;
		bottom: -6px;
		border-bottom: initial;
		border-top: 6px solid #fff;
	}
}

.daterangepicker.single {
	.calendar {
		float: none;
	}

	.daterangepicker {
		.ranges {
			float: none;
		}
	}

	.drp-selected {
		display: none;
	}
}

.daterangepicker.show-calendar {
	.calendar {
		display: block;
	}

	.drp-buttons {
		display: block;
	}

	.ranges {
		padding-top: 8px;
	}
}

.daterangepicker.auto-apply {
	.drp-buttons {
		display: none;
	}
}

.daterangepicker.show-ranges {
	.calendar.left {
		border-left: 1px solid #ddd;
	}
}

.range_inputs {
	padding: 20px;
	border-top: 1px solid #ddd;
}

.daterangepicker_input {
	position: relative;

	i {
		position: absolute;
		top: 12px;
		right: 12px;
	}
}

@media (min-width:564px) {
	.daterangepicker.ltr {
		.calendar.right {
			.calendar-table {
				border-left: none;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}

			margin-left: 0;
		}

		.calendar.left {
			.calendar-table {
				border-right: none;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				padding-right: 8px;
			}

			clear: left;
			margin-right: 0;
		}

		direction: ltr;
		text-align: left;

		.calendar {
			float: left;
		}

		.ranges {
			float: left;
		}
	}

	.daterangepicker.rtl {
		.calendar.left {
			.calendar-table {
				border-left: none;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				padding-left: 12px;
			}

			clear: right;
			margin-left: 0;
		}

		.calendar.right {
			.calendar-table {
				border-right: none;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			margin-right: 0;
		}

		direction: rtl;
		text-align: right;

		.calendar {
			text-align: right;
			float: right;
		}

		.ranges {
			text-align: right;
			float: right;
		}
	}

	.daterangepicker {
		width: auto;
		left: auto !important;
		right: 20px !important;

		.ranges {
			ul {
				width: auto;
			}
		}
	}

	.daterangepicker.single {
		.ranges {
			ul {
				width: 100%;
			}
		}

		.calendar.left {
			clear: none;
		}
	}

	.daterangepicker.single.ltr {
		.calendar {
			float: left;
		}

		.ranges {
			float: left;
		}
	}

	.daterangepicker.single.rtl {
		.calendar {
			float: right;
		}

		.ranges {
			float: right;
		}
	}
}

@media (min-width:730px) {
	.daterangepicker {
		.ranges {
			width: auto;
		}

		.calendar.left {
			clear: none !important;
		}
	}

	.daterangepicker.ltr {
		.ranges {
			float: left;
			border-right: 1px solid #ddd;
		}
	}

	.daterangepicker.rtl {
		.ranges {
			float: right;
		}
	}
}