.custom-section{
  width: 100%;
  min-width: rem(1550);
  .wrapper{
    width: 100%;
    max-width: rem(1550);
    margin: auto;
  }
}
*{
  font-family: 'lgsmart';
}
h1,h2,h3,h4,h5,h6{
  font-family: 'lgsmart';
}