@font-face {
  font-family: 'lgsmart';
  font-weight: 300;
  font-style: normal;
  src: url("../../fonts/LGSMHATL.TTF") format("truetype");
  src: url("../../fonts/LGSMHATL.woff") format("woff");
}

@font-face {
  font-family: 'lgsmart';
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/LGSMHATR.TTF") format("truetype");
  src: url("../../fonts/LGSMHATR.woff") format("woff");
}

@font-face {
  font-family: 'lgsmart';
  font-weight: 500;
  font-style: normal;
  src: url("../../fonts/LGSMHATSB.TTF") format("truetype");
  src: url("../../fonts/LGSMHATSB.woff") format("woff");
}

@font-face {
  font-family: 'lgsmart';
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/LGSMHATB.TTF") format("truetype");
  src: url("../../fonts/LGSMHATB.woff") format("woff");
}