.keyword-list{
  display: flex;
  flex-wrap: wrap;
  li{
    display: flex;
    flex: 1 1 33%;
    align-items: baseline;
    input{
      width: rem(200);
      margin-left: rem(10);
    }
  }
  &.none-auto-type{
    li{
      flex: 0;
      margin-right: rem(15);
    }
  }
}