.modal-search{
  display: flex;
  align-items: center;
  margin-bottom: rem(16);
  .btn{
    line-height: rem(38);
    height: rem(38);
    padding-top: 0;
    margin-left: rem(10);

  }
}
.modal-body{
  .table{
    table{
      tr{
        td,th{
          vertical-align: middle;
          label{
            margin: 0;
            .custom-control-label{
              margin: 0;
              &:after,
              &:before{
                left: rem(13);
              }
            }
          }
        }
      }
    }
  }  
}
.modal{
  &.alert-type{
    .modal-footer{
      .btn{
        flex: 1 1 40%;
        + .btn{
          margin-left: rem(10);
        }
      }
    }
  }
}