.table{
  table{
    tr{
      td,th{
        vertical-align: middle;
        .custom-control{
          &.custom-checkbox{
            margin-left: rem(9);
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 0;
          }
        }
      }
      th{
        font-size: rem(15);
        font-weight: 700;
      }
      td{
        font-size: rem(14);
        font-weight: 400;
      }
    }
  }
  &.fixed-table{
    table{
      table-layout: fixed;
      width: 100%;
    }
  }
}
.text-left{
  text-align: left !important;
}
.table-footer{
  @include flex-prefix-center-suffix;
  padding: 0 rem(20);
  .prefix{
    .btn{
      + .btn{
        margin-left: rem(5);
      }
    }
  }
  .center{
    ul{
      margin-bottom: 0;
    }
  }
  .suffix{
    ul{
      display: flex;
      margin-bottom: 0;
      li{
        position: relative;
        padding-right: rem(10);
        &:after{
          content: '';
          width: rem(1);
          height: rem(15);
          background-color: #333;
          position: absolute;
          right: rem(1);
          top: 0;
        }
        &:last-child{
          padding-right: 0;
          padding-left:rem(5);
          &:after{
            display: none;
          }
        }
      }
    }
  }
  &.write-form-type{
    justify-content: flex-end;
    margin-top: rem(10);
    .btn{
      +.btn{
        margin-left: rem(5);
      }
    }
  }
  &.none-side-pad{
    padding: 0;
  }
}

.table>:not(caption)>*>*{
  border-color: #e6ebf1;
}
.fc-red{
  color: #EF4B49 !important;
  font-weight: bold;
}
table{
  tr{
    td{
      cursor: pointer;
    }
  }
}