.accordionjs {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 20px;

  .acc_section {
    border: 1px solid #ebecf1;
    position: relative;
    margin-top: -1px;
    overflow: hidden;

    .acc_head {
      position: relative;
      background: #f0f0f2;
      padding: 10px;
      display: block;
      cursor: pointer;

      h3 {
        line-height: 1;
        margin: 5px;
        font-size: 16px;
        padding-left: 30px;

        &:before {
          content: "\e9b0";
          position: absolute;
          font-family: 'feather' !important;
          left: 17px;
          top: 12px;
          font-size: 20px;
          transition: all 0.5s;
          transform: scale(1);
        }
      }
    }

    .acc_content {
      padding: 10px;
    }

    &.acc_active {
      &>.acc_content {
        display: block;
      }

      &>.acc_head {
        background: #17B794;
        border-bottom: 1px solid #eee;
        color: #fff;
      }

      .acc_head {
        h3 {
          &:before {
            content: "\e995";
            position: absolute;
            font-family: 'feather' !important;
            left: 17px;
            color: #fff;
            top: 12px;
            font-size: 20px;
            transition: all 0.5s;
            transform: scale(1);
          }
        }
      }
    }
  }
}

.accordionjs .acc_section:first-of-type,
.accordionjs .acc_section:first-of-type .acc_head {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.accordionjs .acc_section:last-of-type,
.accordionjs .acc_section:last-of-type .acc_content {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}